# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pythoncode\Cmdb_Network_Analysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
